body, html{
    padding: 2em;
}

.padding20px {
    padding: 20px;
}


hr {
    border-top: 1px solid #007bff;
    width:70%;
}

a {color: #000;}

address{
  margin-bottom: 0px;
}

#author a{
  color: #fff;
  text-decoration: none;
}

.rowForm{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
}

.marginInherit{
    margin: inherit;
}

.marginTop18{
    margin-top: 17px;
}

.borderBlue{
    border-color: lightblue;
}

.starCenter{
    text-align: center;
  }
  
.colorStarOrange{
    color: orange;
}

.colorStarGrey{
    color:#c6c2c2;
}

.starAccesability{
    font-size: x-large !important;
    margin: 0px 5px 0px 5px !important;
}