.extra{
    padding: 0 !important
}

.caseClass {
    display: inline-block;
}

.cardGroup {
    margin-top: 15px !important;
}

.cardClass {
    margin: 0 auto !important;
    padding: 5px !important;
}

.spanClass {
    float: right;
}


.labelClass {
    width: 55px;
}

.buttonClass {
    width: 100%;
}