.extra{
    padding: 0 !important;
}

.caseClass {
    display: inline-block !important;
}

.cardGroup {
    margin-top: 15px !important;
}

.cardClass {
    margin: 0 auto !important;
    padding: 5px !important;
}

.spanClass {
    float: right !important;
}


.labelClass {
    width: 60px !important;
}

.buttonClass {
    width: 100% !important;
}