.firstDiv {
    margin: 0 !important;
}


.secDiv {
    width: 350px !important;
    position: relative !important;
    margin: 0 auto !important;
}

.firstH2 {
    text-align: center !important;
}

.firstNavLink {
    position: absolute !important; 
    right: 15px !important;
}

.firstImage {
    padding-bottom: 10px !important;
}

.thirdDiv {
    padding-left: 20px !important;
}

.fourthDiv {
    margin: 0 auto !important;
    text-align: center !important;
    width: 350px !important;
    height: 175px !important;
}

.stats {
    padding-top: 25px !important;
}

.firstButton {
    color: white !important;
    text-decoration: none !important;
}

.secButton {
    color: white !important;
    text-decoration: none !important;
}

.thirdButton {
    color: white !important;
    text-decoration: none !important;
}

.secStats {
    padding-top: 25px !important;
    display: block !important;
}

.secNavLink {
    color: white !important;
    text-decoration: none !important;
}


.thirdStats {
    padding-top: 25px !important;
    display: block !important;
}

.thirdNavLink {
    color: white !important;
    text-decoration: none !important;
    padding-bottom: 45px !important;
}

