body{
    overflow: hidden;
}

.LoadMap{
    text-align: center;
}

.venue-name{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.venue-name:hover{
    color: #0056b3;
}

.transition{
 -webkit-transition: transition 0.3s; 
 -moz-transition:transition 0.3s; 
 -o-transition:transition 0.3s; 
 -ms-transition: transition 0.3s; 
 transition: 0.3s; 
}

.middlr{
    display: block;
    margin: auto;

}

.info_box{
    width: 300px;
}

.polaroid{
    width: 175px;
    padding: 2px;
    background: #f2f2f2;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 10px;
}

.menu-text {
    float: right;
    margin: 0px;
    color: white;
    height: 50px;
    line-height: 60px;
    vertical-align: middle;
    padding: 0px 15px;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.input-s1{
    width: 375px;
    max-width: 100%;
    padding: 5px;
    line-height: normal;
    border: 1px solid grey;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;

}

.text-center{
    text-align: center;
}

.modal-container{
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop{
    position: absolute;
}

.modal-box{
    position: fixed;
    width: 100%;
    margin-top: 25vh;
    overflow: hidden;
}

#map{
    width: 100%;
    height: calc(100vh-60px);
    /* background-color: black;
    position: relative;
    display: none; */
}

#head-text{
    margin: 0px;
    color: white;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding: 0px 20px;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    display: inline-block;
}

#places-list{
    margin: 0px;
    padding: 0px;
    width: 100px;
}

@media (max-width:475px) {
    #head-text {
        font-size: 1rem;
        padding: 0px 10px;
    }
    .menu-text{
        padding: 0px 10px;
    }
}