#menu{
    font-family: 'Alef', sans-serif;
    font-size: small;
}

a.nav-link:hover {
    background-color: #E0E0E0 !important;
}

.firstNavBrand {
    float: left !important;
}


.firstIMG {
    height: 40px !important;
    width: 40px !important;
    float: left !important; 
    border-radius: 50% !important;
}

.secNavBrand {
    float: center !important;
}

.firstP {
    font-size: 120% !important;
    text-align: center !important;
    padding-top: 8px !important;
    position: relative !important;
}

.firstNavLink {
    position: absolute !important;
    right: 0 !important;
}

.lastNav {
    font-size: 120% !important; 
    line-height: 160% !important;
}

