.onSubmitClass {
    padding: 7px !important;
}

.firstIMG {
    height: 52px !important; width: 52px !important; border-radius: 50% !important; display: block !important;  margin: 0 auto !important;  margin-bottom: 5px !important;
}

.disabledButton {
    display: block !important; margin: 0 auto !important;
}