.half-black {
    background: rgba(0, 0, 0, 0.5);
  }

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .padding2em{
    padding: 2em;
  }

  .img-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

  ul {
    padding-left: 20px;
    padding-right: 26px;
    list-style-type: none;
}

.title{
  color: #555;
  font-weight: bold;
  text-align: initial;
  margin-bottom: -1.25rem;
}

.nameTitle{
  color: #555;    
    font-weight: bold;
    text-align: start;
    padding-left: 12px;
    font-size: small;
    padding-top: 5px;
}

.addReport{
  color: #555;    
  font-weight: bold;
  text-align: start;
  font-size: small;
}

.tring{
  position: relative;
  left: -120px;
}

.textareaSize{
  height: 60px !important;
}

.descriptionTrack{
  color: #555;
  font-family: initial;
}

.typeTrack{
  text-align: center;
  margin-top: 20px;
  margin-bottom: -15px;
}

.starCenter{
  text-align: center;
}

  /*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    text-align: start;
    padding-left: 9px;
    font-size: larger;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { 
  position: relative;
  background-color: #eae8e8;
  border-radius: 12px;
  margin: 5px;
 }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-report { 
  margin-bottom: 20px;
  text-align: initial;
  padding-left: 5px;
  font-size: 11px;
  font-family: inherit;
 }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 3px 2px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border: 1px solid #eae8e8;
    border-top: hidden;
    margin-bottom: 20px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.nav-tabs {
  border-bottom: 0px;
}
.custom-input-file:hover .uploadPhoto { display: block; }


.firstDiv {
  margin: 20px auto;
}

.firstP {
  font-size: 15px;
}

.firstH1 {
  text-align: center; margin-top: 20px;
}

.secDiv {
  margin: 20px auto;
}

.mapDiv {
  padding-bottom: 20px;
}


